@font-face {
  font-family: "Roboto Flex";
  font-style: oblique 0deg 10deg;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: block;
  font-variation-settings: "wdth" 100;
  src: 
    url(https://fonts.gstatic.com/s/robotoflex/v26/NaNTepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSCUhhKA7fhbw.woff2) format("woff2"),
    url(./fonts/RobotoFlex.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Noto Emoji";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
      url(https://fonts.gstatic.com/s/notoemoji/v50/bMrnmSyK7YY-MEu6aWjPDs-ar6uWaGWuob-r0jwqS-FGJSsYRxHOpTV331nyNs0.2.woff2) format("woff2"),
      url(./fonts/NotoEmoji.woff2) format("woff2");
  unicode-range: U+23, U+2a, U+30-39, U+a9, U+ae, U+200d, U+203c, U+2049, U+20e3, U+2122, U+2139, U+2194-2199, U+21a9-21aa, U+23cf, U+23e9-23ef, U+23f8-23fa, U+24c2, U+25aa-25ab, U+25b6, U+25c0, U+25fb-25fe, U+2611, U+2622-2623, U+2626, U+262a, U+262e-262f, U+2638, U+2640, U+2642, U+2648-2653, U+2660, U+2663, U+2665-2666, U+2668, U+267b, U+267e-267f, U+2695, U+269b-269c, U+26a0, U+26a7, U+26aa-26ab, U+26ce, U+26d4, U+2705, U+2714, U+2716, U+271d, U+2721, U+2733-2734, U+2747, U+274c, U+274e, U+2753-2755, U+2757, U+2764, U+2795-2797, U+27a1, U+27b0, U+27bf, U+2934-2935, U+2b05-2b07, U+2b1b-2b1c, U+2b55, U+3030, U+303d, U+3297, U+3299, U+fe0f, U+1f170-1f171, U+1f17e-1f17f, U+1f18e, U+1f191-1f19a, U+1f201-1f202, U+1f21a, U+1f22f, U+1f232-1f23a, U+1f250-1f251, U+1f310, U+1f3a6, U+1f3b5-1f3b6, U+1f3bc, U+1f3e7, U+1f441, U+1f499-1f49c, U+1f49f-1f4a0, U+1f4a2, U+1f4ac-1f4ad, U+1f4b1-1f4b2, U+1f4b9, U+1f4db, U+1f4f2-1f4f6, U+1f500-1f50a, U+1f515, U+1f518-1f524, U+1f52f-1f53d, U+1f549, U+1f54e, U+1f5a4, U+1f5e8, U+1f5ef, U+1f6ab, U+1f6ad-1f6b1, U+1f6b3, U+1f6b7-1f6bc, U+1f6be, U+1f6c2-1f6c5, U+1f6d0-1f6d1, U+1f6d7, U+1f6dc, U+1f7e0-1f7eb, U+1f7f0, U+1f90d-1f90e, U+1f9e1, U+1fa75-1fa77, U+1faaf;
}

:root {
  font-family: "Roboto Flex", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  font-optical-sizing: auto;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --page-header-offset-min: 63px;
  --page-header-offset-max: 87px;
  --c-ansiblack: #21222c;
  --c-blue: #0000d4;
  --c-boltgun: #3a3a3a;
  --c-carbon: #2f2f2f;
  --c-charcoal: #494949;
  --c-cobalite: #9f9fff;
  --c-coconut: #e8eaf6;
  --c-darkgrey: #aaaaaa;
  --c-darktone: #171717;
  --c-discoball: #d5d5d5;
  --c-eerieblack: #1d1d1d;
  --c-eclipse: #2e3749;
  --c-genie: #646cff;
  --c-gravel: #bbbbbb;
  --c-gunmetal: #191f2a;
  --c-hadopel: #020024;
  --c-lavender: #c8c7ff;
  --c-mauve: #d1adf0;
  --c-megaman: #45bbfc;
  --c-neoncyan: #00d4ff;
  --c-nero: #242424;
  --c-nightsky: #1a194f;
  --c-quartz: #d0d0e7;
  --c-sapphire: #6272a4;
  --c-silver: #787878;
  --c-skycap: #282a36;
  --c-snow: #fafafa;
  --c-whisper: #eeeeee;
  
  & {
    color-scheme: only dark;
    --color-page-header: var(--c-ansiblack);
    --color-page-foreground: var(--c-gunmetal);
    --color-page-background: var(--c-eerieblack);
    --color-page-heading: var(--c-lavender);
    --color-content-header: var(--c-eclipse);
    --color-content-foreground: var(--c-ansiblack);
    --color-content-background: var(--c-skycap);
    --color-content-heading: white;
    --color-border: var(--c-silver);
    --color-primary: white;
    --color-secondary: var(--c-cobalite);
    --color-tertiary: var(--c-genie);
    --color-quaternary: var(--c-cobalite);
    --color-quinary: var(--c-lavender);
  }
  
  &.light {
    color-scheme: only light;
    --color-page-header: var(--c-snow);
    --color-page-foreground: white;
    --color-page-background: var(--c-discoball);
    --color-page-heading: var(--c-nightsky);
    --color-content-header: var(--c-quartz);
    --color-content-foreground: var(--c-snow);
    --color-content-background: var(--c-whisper);
    --color-content-heading: var(--c-hadopel);
    --color-border: var(--c-discoball);
    --color-primary: var(--c-eerieblack);
    --color-secondary: var(--c-blue);
    --color-tertiary: var(--c-genie);
    --color-quaternary: var(--c-nightsky);
    --color-quinary: var(--c-blue);
    
    @media (max-width: 531px) {
      --color-border: var(--c-gravel);
    }
  }
}

*:not(:defined) {
  display: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-page-background);
}

page-header {
  --header-bgColor: var(--color-page-header);
  
  page-nav {
    --container-textColor: var(--color-primary);
    --container-textColor-sm: white;
    --container-hoverColor: var(--color-secondary);
    --link-shadowColor: var(--color-tertiary);
  }
  
  page-logo {
    --logo-bgColor: var(--c-lavender);
    --logo-fgColor: var(--c-whisper);
    --logo-borderColor: var(--c-silver);
    
    img {
      position: relative;
      opacity: 0.5;
      filter: brightness(0);
      transform: rotate(0deg);
      transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out, transform 0.4s ease-in-out;
      background-image: url("/src/assets/face.png");
      background-size: contain;
      background-position: center;
      
      &.show {
        opacity: 1;
        filter: brightness(1);
        transform: rotate(360deg);
      }
      
      @media print {
        opacity: 1;
        filter: unset;
        transition: unset;
      }
    }
    
    @media (784px <= width <= 876px) or (max-width: 375px) {
      font-size: 0.875em;
    }
  }
}

page-main {
  --container-fgColor: var(--color-page-foreground);
  --container-fgColor-sm: var(--color-page-background);
  
  content-section {
    scroll-margin-top: var(--page-header-offset-min);
    --title-textColor: var(--color-page-heading);
    --title-iconDisplay: block;
    
    content-article {
      --header-bgColor: var(--color-content-header);
      --header-textColor: var(--color-content-heading);
      --content-textColor: var(--color-primary);
      --content-bgColor: var(--color-content-background);
      
      content-languages {
        --heading-textColor: var(--color-page-heading);
        --container-textColor: var(--color-primary);
        --container-bgColor: var(--color-content-foreground);
      }
      
      content-technologies {
        --container-bgColor: transparent;
        --container-textColor: var(--color-primary);
        --container-borderColor: var(--color-primary);
        --title-textColor: var(--color-content-foreground);
      }
    }
  }
}

#about {
  scroll-margin-top: var(--page-header-offset-max);
  --container-borderColor: var(--color-page-foreground);
  --container-textColor: white;
  
  content-article {
    --content-textColor: white;
  }
  
  .light & {
    --gradient-fromColor: var(--c-nightsky);
  }
  
  & > p {
    i, b, u {
      font-size: 1.125em;
    }
  }
}

#projects {
  --title-iconMask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjQiPjxwYXRoIGQ9Ik02MjAtMTYzIDQ1MC0zMzNsNTYtNTYgMTE0IDExNCAyMjYtMjI2IDU2IDU2LTI4MiAyODJabTIyMC0zOTdoLTgwdi0yMDBoLTgwdjEyMEgyODB2LTEyMGgtODB2NTYwaDI0MHY4MEgyMDBxLTMzIDAtNTYuNS0yMy41VDEyMC0yMDB2LTU2MHEwLTMzIDIzLjUtNTYuNVQyMDAtODQwaDE2N3ExMS0zNSA0My01Ny41dDcwLTIyLjVxNDAgMCA3MS41IDIyLjVUNTk0LTg0MGgxNjZxMzMgMCA1Ni41IDIzLjVUODQwLTc2MHYyMDBaTTQ4MC03NjBxMTcgMCAyOC41LTExLjVUNTIwLTgwMHEwLTE3LTExLjUtMjguNVQ0ODAtODQwcS0xNyAwLTI4LjUgMTEuNVQ0NDAtODAwcTAgMTcgMTEuNSAyOC41VDQ4MC03NjBaIi8+PC9zdmc+");
  
  @media print {
    display: none;
  }
  
  content-details::part(summary) {
    padding-left: 8px;
  }
  
  .light & content-article {
    --container-outlineColor: var(--color-border);
  }
  
  img {
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
  }
  
  a {
    color: var(--color-quaternary);
    transition: color 0.2s ease-in-out;
    
    @media (max-width: 425px) {
      justify-content: center;
    }
    
    &:hover {
      color: var(--color-quinary);
      
      & + img {
        transform: scale(1.0125);
      }
    }
    
    & > h4 {
      margin: 0;
      font-weight: normal;
      line-height: 1.1;
      font-size: 1.1em;
    }
  }
}

#experience {
  --title-iconMask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjQiPjxwYXRoIGQ9Ik0xNjAtMjAwdi00NDAgNDQwLTE1IDE1Wm0wIDgwcS0zMyAwLTU2LjUtMjMuNVQ4MC0yMDB2LTQ0MHEwLTMzIDIzLjUtNTYuNVQxNjAtNzIwaDE2MHYtODBxMC0zMyAyMy41LTU2LjVUNDAwLTg4MGgxNjBxMzMgMCA1Ni41IDIzLjVUNjQwLTgwMHY4MGgxNjBxMzMgMCA1Ni41IDIzLjVUODgwLTY0MHYxNzFxLTE4LTEzLTM4LTIyLjVUODAwLTUwOHYtMTMySDE2MHY0NDBoMjgzcTMgMjEgOSA0MXQxNSAzOUgxNjBabTI0MC02MDBoMTYwdi04MEg0MDB2ODBaTTcyMC00MHEtODMgMC0xNDEuNS01OC41VDUyMC0yNDBxMC04MyA1OC41LTE0MS41VDcyMC00NDBxODMgMCAxNDEuNSA1OC41VDkyMC0yNDBxMCA4My01OC41IDE0MS41VDcyMC00MFptMjAtMjA4di0xMTJoLTQwdjEyOGw4NiA4NiAyOC0yOC03NC03NFoiLz48L3N2Zz4=");
  
  content-article {
    --header-stickyTop: var(--page-header-offset-min);
    --header-stickyTop-sm: calc(var(--page-header-offset-min) - 2px);
    --header-borderColor: var(--color-primary);
    --content-bgColor-lg: transparent;
    --content-bgColor-sm: var(--color-page-foreground);
    
    .light & {
      --container-outlineColor: var(--color-border);
    }
  }
  
  @media (min-width: 532px) {
    content-article::part(header) {
      margin: 0 -16px;
      padding: 8px 24px 4px;
    }
    
    content-technologies {
      margin: 0 -16px;
      
      &::part(title) {
        padding-left: 24px;
      }
    }
  }
  
  @media print {
    content-article::part(header) {
      margin: 0;
      padding: 8px 0 4px;
    }
    
    content-technologies {
      display: none;
    }
  }
}

#contact {
  --title-iconMask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjQiPjxwYXRoIGQ9Ik02NDAtMjAwdjgwcTAgMTctMTEuNSAyOC41VDYwMC04MEgxMjBxLTE3IDAtMjguNS0xMS41VDgwLTEyMHYtMzIwcTAtMTcgMTEuNS0yOC41VDEyMC00ODBoMTIwdi0xNjBxMC0xMDAgNzAtMTcwdDE3MC03MGgxNjBxMTAwIDAgMTcwIDcwdDcwIDE3MHY1NjBoLTgwdi0xMjBINjQwWm0wLTgwaDE2MHYtMzYwcTAtNjYtNDctMTEzdC0xMTMtNDdINDgwcS02NiAwLTExMyA0N3QtNDcgMTEzdjE2MGgyODBxMTcgMCAyOC41IDExLjVUNjQwLTQ0MHYxNjBaTTQwMC01NjB2LTgwaDMyMHY4MEg0MDBabS00MCAyNzQgMjAwLTExNEgxNjBsMjAwIDExNFptMCA3MEwxNjAtMzMwdjE3MGg0MDB2LTE3MEwzNjAtMjE2Wk0xNjAtNDAwdjI0MC0yNDBaIi8+PC9zdmc+");
  
  @media print {
    display: none;
  }
  
  content-section {
    margin: 0 auto;
    max-width: 90ch;
    font-size: 1.2rem;
    
    &::part(container) {
      font-size: 1rem;
      padding: 0;
    }
    
    @media (636px < width <= 720px) {
      font-size: 1rem;
    }
    
    @media (578px <= width <= 636px) {
      font-size: 2rem;
    }
  }
  
  content-article {
    .light & {
      --container-outlineColor: var(--color-border);
      --content-bgColor: var(--color-content-header);
    }
    
    svg {
      fill: currentColor;
      height: 100%;
    }
    
    &::part(container) {
      display: flex;
    }
    
    &::part(content) {
      flex: 1;
      display: grid;
      column-gap: 16px;
      grid-template-columns: 72px 1fr 0fr;
      align-items: center;
      align-content: stretch;
      justify-items: stretch;
    }
    
    &:nth-of-type(odd) {
      p {
        grid-row: 1;
        text-align: right;
      }
      
      svg {
        grid-column: 2;
      }
      
      &::part(content) {
        grid-template-columns: 1fr 72px;
        padding-left: 24px;
      }
    }
    
    @media (max-width: 862px) {
      font-size: 0.75em;
      
      &::part(content) {
        column-gap: 8px;
        padding: 8px;
      }
    }
      
    @media (636px < width <= 780px) or (max-width: 445px) {
      &:nth-of-type(odd)::part(content) {
        padding-left: 12px;
      }
    }
    
    @media (445px < width <= 636px) {
      font-size: 1em;
      
      &::part(content) {
        column-gap: 16px;
        padding: 16px 24px;
      }
    }
    
    @media (max-width: 365px) {
      font-size: 0.75em;
    }
  }
  
  @media (min-width: 532px) {
    background-color: var(--color-page-header);
    border-top: 1px solid var(--color-border);
  }
}

page-footer {
  --footer-borderColor-sm: var(--color-border);
  
  &::part(attribution) {
    font-family: "Noto Emoji", "Roboto Flex", sans-serif;
  }
}

colour-scheme-toggle {
  position: relative;
  padding-left: 12px;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    bottom: 2px;
    border-left: 1px solid var(--color-border);
  }
  
  @media (max-width: 783px) {
    --dark-mode-toggle-icon-filter: invert(0);
  }
}