:root {
  --header-min-height: 76px;
  --header-max-height: 86px;
  --color-weight-foreground: 90%;
  --color-weight-header: 95%;
  --color-background: #242424;
  --color-foreground: color-mix(in srgb, var(--color-background) var(--color-weight-foreground), white);
  --color-header: color-mix(in srgb, var(--color-background) var(--color-weight-header), white);
  --color-link-hover: #45bbfc;
  --color-link-gradient: #646cffaa;
  --color-primary: rgba(255, 255, 255);
  --color-secondary: #646CFF;
  --color-secondary-dark: #020024;
  --color-secondary-light: #00D4FF;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: var(--color-primary);
  background-color: color-mix(in srgb, var(--color-background) 80%, black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #1d1d1d;
    --color-background: #d5d5d5;
    --color-weight-foreground: 0%;
    --color-weight-header: 40%;
  }
}

#about {
  & content-article {
    --content-color-fg: white;
  }
}

#experience {
  & content-article {
    --header-top-maxi: 75px;
    --header-top-mini: 68px;
    --header-color-bg: var(--color-foreground);
    --header-color-ul: var(--color-primary);
    --content-color-fg: var(--color-primary);
    --content-color-bg-maxi: var(--color-foreground);
    
    @media (prefers-color-scheme: light) {
      & {
        --header-color-bg: var(--color-header);
        --content-color-bg: white;
      }
    }
  }
}

@keyframes lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  
  20% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes wave {
  0%, 40%, 100% {
    transform: translateY(0)
  }
  
  20% {
    transform: translateY(-20px)
  }
}